.container {
    flex: 1;
  }
  .header {
    background-color: orange;
    align-items: center;
    justify-content: center;
    border-bottom-width: 10;
    border-bottom-color: #ddd;
  }
  .headerText {
    color: white;
    font-size: 38;
    padding: 15;
    padding-top: 30;
    font-family: monospace;
  }
  .reminderContainer {
    padding: 100;
  }
  .reminderList {
    flex: 1;
    margin-bottom: 100;
  }
  .footer {
    position: relative;
    align-items: center;
    bottom: 10;
    left: 0;
    right: 0;
  }
  .newReminderButton {
    background-color: gray;
    width: 90;
    height: 90;
    border-radius: 50;
    border-color: black;
    align-items: center;
    justify-content: center;
    /* elevation: 11; */
    margin-bottom: -40;
    z-index: 11;
  }
  .plusButton {
    color: white;
    font-size: 24;
    z-index: 10;
  }
  .reminderText {
    align-self: stretch;
    color: #fff;
    background-color: #252525;
    border-top-width: 2;
    border-top-color: black;
    width: 50%;
    text-align: center;
    font-size: 15;
  }
  .reminderBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70;
  }
  .datePicker {
    border-top-color: black;
    border-color: black;
    z-index: 10;
    width: 50%;
    align-items: center;
    background-color: #252525;
    padding-left: 10;
  }
  .dateText {
    align-self: stretch;
    color: #fff;
    background-color: #252525;
    border-top-width: 2;
    border-top-color: black;
  }
  .textInput {
    border-width: 1;
    border-color: black;
    margin-bottom: 5;
    margin-top: 9;
    margin-right: -32;
    padding: 5;
    height: 30;
    width: 80%;
    background-color: white;
    text-align: center;
    align-content: center;
    right: 1;
    font-size: 14;
  }
